{
.appVersion = "3094";
.formatVersion = 3;
customParameters = (
{
name = glyphOrder;
value = (
.notdef,
space,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
oacute,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
period,
comma,
hyphen,
acutecomb
);
},
{
name = openTypeGaspRangeRecords;
value = (
{
rangeGaspBehavior = (
0,
1,
2,
3
);
rangeMaxPPEM = 65535;
}
);
},
{
name = openTypeHeadFlags;
value = (
);
},
{
name = preferredFamilyName;
value = "New Font";
},
{
name = versionString;
value = "Version 1.000";
},
{
name = openTypeOS2Selection;
value = (
);
},
{
name = fsType;
value = (
2
);
},
{
name = blueFuzz;
value = 1;
},
{
name = blueScale;
value = 0.03963;
},
{
name = blueShift;
value = 7;
},
{
name = postscriptForceBold;
value = 0;
},
{
name = postscriptIsFixedPitch;
value = 0;
}
);
date = "2021-08-16 13:50:10 +0000";
familyName = "New Font";
fontMaster = (
{
customParameters = (
{
name = typoAscender;
value = 800;
},
{
name = typoDescender;
value = -200;
},
{
name = typoLineGap;
value = 100;
},
{
name = winAscent;
value = 750;
},
{
name = winDescent;
value = 250;
},
{
name = underlineThickness;
value = 50;
},
{
name = underlinePosition;
value = -100;
}
);
guides = (
{
name = m;
pos = (9,507);
},
{
angle = 180;
name = f1;
pos = (-419,112);
},
{
locked = 1;
pos = (392,387);
}
);
id = master01;
metricValues = (
{
pos = 800;
},
{
pos = 703;
},
{
over = 10;
pos = 500;
},
{
over = -10;
},
{
pos = -234;
},
{
}
);
name = Regular;
visible = 1;
}
);
instances = (
{
customParameters = (
{
name = postscriptWeightName;
value = Regular;
}
);
instanceInterpolations = {
master01 = 1;
};
name = Regular;
properties = (
{
key = postscriptFontName;
value = "NewFont-Regular";
},
{
key = postscriptFullName;
value = "New Font Regular";
},
{
key = styleMapFamilyName;
value = "New Font";
}
);
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
properties = (
{
key = versionString;
value = "Version 1.000";
}
);
settings = {
disablesNiceNames = 1;
};
unitsPerEm = 1000;
userData = {
UFOFormat = 3;
};
versionMajor = 1;
versionMinor = 0;
}
