<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>6366B642-BFD9-498E-A5DF-39975F9AC1A1</key>
		<dict>
			<key>HV</key>
			<string>127</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>/flechader</string>
		<string>/flechaizq</string>
		<string>o  i</string>
		<string>/flechaabajo/flechaarriba/flechader/flechaizq 
V
nanbncndnenfngn
hninjnknlnmnnonp
nqnrnsntnunvnwn
txnynzn</string>
		<string>
/flechaabajo Procesar Logrado Acostando/flechaizq  Intentó Yenes Mentido/flechaarriba  Semejante Adulta Estas /flechader Lector Amnesia Manicura Tabaco Premeditado Tuyos Visitante Compensación Resurrección Continentes Cure</string>
		<string>/flechaabajo/flechaarriba/flechader/flechaizq</string>
		<string>
/flechaabajo Continente Oriental 
/flechaarriba Bancario Puestas Fatiga /flechader Bajad Escenas /flechaizq Anochecer Dusty Valor /perro Recoge la popo Mejoras /jardin JardinesQuemados Eve  /basura BasuraChal Amorosa /extintor Extintor FuegoInvisibles /banca Sentarse bancas Saltar /disc Discapacitados Placer /advertencia Advertencia CuidadoHago



</string>
		<string>/advertencia/banca/basura/disc/extintor/jardin/perro</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>openTypeGaspRangeRecords</string>
			<key>value</key>
			<array>
				<dict>
					<key>rangeGaspBehavior</key>
					<array>
						<integer>0</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>3</integer>
					</array>
					<key>rangeMaxPPEM</key>
					<integer>65535</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<real>46.0</real>
		<key>GSExtrudeAngle</key>
		<real>30.0</real>
		<key>GSExtrudeOffset</key>
		<real>15.0</real>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>6366B642-BFD9-498E-A5DF-39975F9AC1A1</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>F.001</string>
		<string>G.ss01</string>
		<string>S.ss01</string>
		<string>G.ss02</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.001</string>
		<string>five.001</string>
		<string>nine.001</string>
		<string>space</string>
		<string>colon</string>
		<string>uni0308</string>
		<string>acutecomb</string>
		<string>tildecomb</string>
		<string>advertencia</string>
		<string>banca</string>
		<string>basura</string>
		<string>disc</string>
		<string>extintor</string>
		<string>flechaabajo</string>
		<string>flechaarriba</string>
		<string>flechader</string>
		<string>flechaizq</string>
		<string>jardin</string>
		<string>perro</string>
	</array>
</dict>
</plist>
